.app_section_container {
    position: relative;
    width: calc(100% - 300px);
    top: -20px;
    left: 150px;
    z-index: 2
}

@media  screen and (max-width:760px){
    .app_section_container {
      width: 100%;
     position:static;
      
    }


}